@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(164, 109, 109);
  --secondary-color: rgb(77, 74, 123);


}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 740px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
ol li{
  margin: 10px;
  color: rgb(202, 104, 197);
  font-weight: 700;
}


form label, 
form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
select{
  width: 200px;
}
form input, select {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
}


form input, select:focus {
  outline: 1px solid var(--secondary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
}

form button:hover {
  background: var(--secondary-color);
}

